body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 500px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 3px solid black;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header-cell {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  font-size: 50px;
  font-weight: bold;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  outline: 1px solid #ccc;
  align-items: center;
  font-size: 40px;
  color: rgb(50, 90, 175);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s;
}

.cell:hover {
  background-color: #e6e6e6;
}

.cell:active {
  background-color: #ccc;
}

.x-mark {
  position: absolute;
  width: 50px;
  display: none;
}

.visible {
  display: initial;
}

.clicked {
  color: rgb(149, 151, 152);
}
